policies = [
  {
    name                  = "Allow access To Dropbox"
    description           = "Allow access To Dropbox for specific users"
    source_zones          = ["trust"]
    destination_zones     = ["untrust"]
    source_addresses      = ["any"]
    destination_addresses = ["any"]
    action                = "allow"
    source_users          = ["user1", "user2"]
    application           = ["dropbox"]
  },
  {
    name                  = "Deny Dropbox"
    description           = "Deny access to Dropbox for everyone"
    source_zones          = ["trust"]
    destination_zones     = ["untrust"]
    source_addresses      = ["any"]
    destination_addresses = ["any"]
    action                = "deny"
    source_users          = ["any"]
    application           = ["dropbox"]
  }
]
